pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/
.lsp/
.github/
.shadow-cljs/
node_modules/
shadow-cljs.edn
.lein-env
/package.json~
/package-lock.json
test2junit/xml/m3.testsuite-test.xml
test2junit/xml/m3.uri-test.xml
build.xml
.clojure-mcp/scratch_pad.edn
.mcp.json
.mcp.json~
npm-dist/*.js
npm-dist/*.js.map
npm-dist/cljs_env.js
